{% extends 'auth.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <!-- Page -->
    <div class="flex items-center justify-center grow bg-center bg-no-repeat page-bg">
        <div class="card max-w-[370px] w-full">
            {# Début du formulaire Symfony #}
            {{ form_start(registrationForm, {
                'method': 'post',
                'attr': {
                    'class': 'card-body flex flex-col gap-5 p-10',
                    'id': 'sign_up_form'
                }
            }) }}

            <!-- En-tête -->
            <div class="text-center mb-2.5">
                <h3 class="text-lg font-medium text-gray-900 leading-none mb-2.5">
                 ✨ Inscription ✨
                </h3>
                <div class="flex items-center justify-center">
                  <span class="text-2sm text-gray-700 me-1.5">
                    Vous avez déjà un compte ?
                  </span>
                  <a class="text-2sm link" href="{{ path('app_login') }}">
                    Me connecter
                  </a>
                </div>
            </div>

            <!-- Champ Email -->
            <div class="flex flex-col gap-1">
                <label class="form-label text-gray-900" for="registrationForm_email">
                    {{ form_label(registrationForm.email, 'Adresse email') }}
                </label>
                {{ form_widget(registrationForm.email, {
                    'attr': {
                        'class': 'input',
                        'placeholder': 'Adresse email',
                        'id': 'registrationForm_email'
                    }
                }) }}
                {{ form_errors(registrationForm.email) }}
            </div>

            <!-- Champ Mot de passe -->
            <div class="flex flex-col gap-1">
                <label class="form-label font-normal text-gray-900" for="registrationForm_plainPassword_first">
                    {{ form_label(registrationForm.plainPassword.first, 'Mot de passe') }}
                </label>
                <div class="input" data-toggle-password="true">
                    {{ form_widget(registrationForm.plainPassword.first, {
                        'attr': {
                            'placeholder': 'Mot de passe',
                            'id': 'registrationForm_plainPassword_first'
                        }
                    }) }}
                    <button class="btn btn-icon" data-toggle-password-trigger="true" type="button">
                        <i class="ki-filled ki-eye text-gray-500 toggle-password-active:hidden"></i>
                        <i class="ki-filled ki-eye-slash text-gray-500 hidden toggle-password-active:block"></i>
                    </button>
                </div>
                {{ form_errors(registrationForm.plainPassword.first) }}
            </div>

            <!-- Champ Confirmation du mot de passe -->
            <div class="flex flex-col gap-1">
                <label class="form-label font-normal text-gray-900" for="registrationForm_plainPassword_second">
                    {{ form_label(registrationForm.plainPassword.second, 'Confirmez le mot de passe') }}
                </label>
                <div class="input" data-toggle-password="true">
                    {{ form_widget(registrationForm.plainPassword.second, {
                        'attr': {
                            'placeholder': 'Confirmez le mot de passe',
                            'id': 'registrationForm_plainPassword_second'
                        }
                    }) }}
                    <button class="btn btn-icon" data-toggle-password-trigger="true" type="button">
                        <i class="ki-filled ki-eye text-gray-500 toggle-password-active:hidden"></i>
                        <i class="ki-filled ki-eye-slash text-gray-500 hidden toggle-password-active:block"></i>
                    </button>
                </div>
                {{ form_errors(registrationForm.plainPassword.second) }}
            </div>

            <!-- Champ Acceptation des CGU -->
            <label class="checkbox-group">
                {{ form_widget(registrationForm.agreeTerms, {
                    'attr': {
                        'class': 'checkbox checkbox-sm',
                        'id': 'registrationForm_agreeTerms'
                    }
                }) }}
                <span class="checkbox-label">
                  J'accepte les <a class="text-2sm link" href="#">GCU</a>
                </span>
                {{ form_errors(registrationForm.agreeTerms) }}
            </label>

            <!-- Bouton d'inscription -->
            <button type="submit" class="btn btn-primary flex justify-center grow">Inscription</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
    <!-- End of Page -->
{% endblock %}
